/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: #dadada;
    overflow: hidden;
}

:root .sbol-border {
    --sbol-main-green: #278433;
    --sbol-focus-outline: 0 0 0 2px #ffce45;
}

.sbol-border {
    width: 944px;
    margin: 110px auto 0 auto;
}

.navigation-region {
    position: relative;
}

/*.navigation-region button:focus,*/
/*.navigation-region .catalog-region-tablist:focus,*/
.navigation-region .menuitem:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ffce45;
}

.mainmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    border-radius: 4px;
    background-color: #278433;
    border: 1px solid #278433;
}

.menuitem {
    outline: none;
    display: block;
    flex-shrink: 0;
    padding: 0 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #278433;
    text-decoration: none;
}

.menuitem.menuitem_dropdown:hover,
.menuitem:hover {
    background-color: #256a2e;
}
.menuitem.menuitem_dropdown:active,
.menuitem:active {
    background-color: #24572b;
}


.menuitem.menuitem_active {
    background-color: #ffffff;
}

.menuitem-title {
    display: inline-block;
    line-height: 36px;
    font-size: 14px;
    color: #ffffff;
}

.menuitem.menuitem_active .menuitem-title {
    color: #278433;
}

.menuitem.menuitem_dropdown {
    border: none;
    background: none;
}
.menuitem.menuitem_dropdown .menuitem-title {
    position: relative;
    display: block;
}

.menuitem.menuitem_dropdown .menuitem-title-icon {
    margin-left: 4px;
    transform: rotate(0deg);
    transition: transform .4s;
    transform-origin: center center;
}
.menuitem.menuitem_dropdown[aria-expanded="true"] .menuitem-title-icon {
    transform: rotate(180deg);
}

.dashboard {
    position: absolute;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.21);
    padding: 18px 0 12px;
    z-index: 12;
    width: 100%;
    transition: max-height .4s ease-in, opacity .5s;
    height: auto;
    opacity: 1;
    max-height: 750px;
}
.dashboard.hidden {
    display: block !important;
    height: 0;
    opacity: 0;
    min-height: 0;
    max-height: 0;
}

.dashboard-content {
    width: 944px;
    margin: 0 auto;
}

.search-region {
    margin-bottom: 42px;
}

.search-region .search-region-input {
    width: calc(100% - 36px);
    line-height: 34px;
    height: 34px;
    background-color: #ffffff;
    border-radius: 2px;
    border: solid 1px #81929a;
    padding: 0 0 0 34px;
    background-image: url('../img/ico-search.svg');
    background-repeat: no-repeat;
    -ms-background-position-x: 12px;
    background-position-x: 12px;
    -ms-background-position-y: 50%;
    background-position-y: 50%;
    font-size: 16px;
}

.search-region .search-region-input:placeholder-shown::placeholder {
    color: #212121;
    opacity: 0.65;
}

.catalog-region {
    position: relative;
    width: 100%;
    padding: 34px 0;
    border-top: solid 1px #d5d5d5;
    display: flex;

}

.catalog-region > .catalog-region-title {
    position: absolute;
    left: 0;
    top: -11px;
    background-color: #fff;
    padding: 0 8px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color: #212121;
    font-weight: normal;
    margin: 0;
}
.catalog-region > .catalog-region-title:before {
    content: '';
    display: block;
    background-image: url('../img/ico-catalog.svg');
    height: 12px;
    width: 12px;
    float: left;
    margin-right: 8px;
    margin-top: 2px;
}

.catalog-region .catalog-region-tablist {
    min-width: 268px;
    border-right: 1px solid #cacaca;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.catalog-region .catalog-region-tablist .catalog-tab {
    width: 100%;
    background: none;
    text-align: left;
    display: block;
    line-height: 54px;
    height: 54px;
    border-radius: 2px 0 0 2px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    font-size: 16px;
    color: #4c6470;
    outline: none;
}
.catalog-region .catalog-region-tablist .catalog-tab.catalog-tab_active {
    border-color: #cacaca;
    background-color: #edeff0;
    border-right-width: 0;

}
.catalog-region .catalog-region-tablist .catalog-tab:hover {
    background-color: #edeff0;
}

.catalog-region .catalog-region-tabpanels {
    min-width: 627px;
    color: #278433;
    padding-left: 48px;
}

.catalog-region .catalog-region-tabpanels .catalog-product-title {
    display: block;
    text-decoration: none;
    text-align: left;
    font-size: 22px;
    line-height: 1.18;
    font-weight: normal;
    margin: 0 0 24px 0;
}

.catalog-region .catalog-region-tabpanels .catalog-products-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 0 82px 0;
    margin: 0;
    height: 306px;
}

.catalog-region .catalog-region-tabpanels .catalog-products-list .catalog-products-product {
    list-style: none;
    text-align: left;
    display: inline-block;
}

.catalog-region .catalog-region-tabpanels .catalog-products-list .catalog-products-product a {
    display: block;
    line-height: 36px;
    color: #278433;
    font-size: 16px;
    text-decoration: none;
}

.catalog-region .catalog-region-tabpanels .catalog-products-list .catalog-products-product a:hover,
.catalog-region .catalog-region-tabpanels .catalog-products-list .catalog-products-product a:focus {
    outline: none;
    text-decoration: underline;
}

.catalog-region .catalog-region-tabpanels .catalog-products-list .catalog-products-product.disabled {
    
}

.dashboard-footer {
    text-align: center;
}
.dashboard-footer .dashboard-close-button {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #4c6470;
    border: none;
    background: none;
    padding: 0;
    border-bottom: dashed 1px #4c6470;
    
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
